body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://wallpapercave.com/wp/3wPVPxQ.jpg');
    background-size: cover;
  }
  .duzo{
    height: 30px;
    width: 70px;
    color: white;
    font-size: larger;
  }

  .login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 350px;
    font-size:center;
  }

  .login-container h2 {
    text-align: center;
    margin: 20px 0;
  }
  

  .input-group {
    margin-bottom: 15px;
  }

  .input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
  }

  .input-group label {
    display: block;
    margin-bottom: 23px;
  }

  .button-container {
    text-align: center;
    margin-top: 20px;
  }

  .login-btn {
    background-image: url('https://wallpapercave.com/wp/3wPVPxQ.jpg');
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
 



  .signup-btn {
    background: none;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    text-transform: uppercase;
    font-weight:bold;
  }
  .signup-btn:hover {
    background-color: rgb(184, 184, 184);
    
  border-radius: 50px; }

  .forgot-password {
    color: #666;
    display: block;
    text-align: center;
    margin-top: 15px;
  }